# This is getdiff.conf file; configuration file for getdiff program which gets
# or downloads differ files from remote server.
# Default: {HOME}/getdiff.conf
# Where {HOME} is current user home directory.
# Use command line option -c or --conf to change this default.

# Lines starting with # or ; are comment lines. No comment is allowed on
# configuration line. Configuration line consist of KEY and VALUE
# separated by space or tab with and optional equal sign.
# KEYS are matched exact.
# Valid KEYS are below:
# {USER, PASSWD, SOURCE and DIRECTORY, BEGIN, VERBOSE , NEWER_FILE}.
# Unrecognized and duplicate directive 'KEYS' trigger error.

# USER : OSM openstreetmaps user name or user email. 64 character or less.
# USER = wael_h
USER = w_hammoudeh@hotmail.com

# PASSWD = mysecret

# SOURCE: This is the full URL to the region updates directory at geofabrik.de server.
# This starts with protocol {https://} followed by server name followed by continent and maybe
# country then region name at geofabrik server, ending with entry {region}-updates.
# where region is your area or region name.
# See: https://www.geofabrik.de/data/download.html
# In all cases this URL is where the LATEST 'state.txt' file is found for your area.
# The followings are some real examples from geofabrik.de servers:
#
#   https://download.geofabrik.de/north-america/us/arizona-updates/
#   https://osm-internal.download.geofabrik.de/north-america/us/arizona-updates/
#   https://download.geofabrik.de/europe/great-britain-updates/
#   https://download.geofabrik.de/europe/alps-updates/
#   https://download.geofabrik.de/europe/austria-updates/
#   https://download.geofabrik.de/asia/thailand-updates/
#
#   You may try those too for "planet" change files - NOT fully tested here!
#
#   https://planet.osm.org/replication/day/
#   https://planet.openstreetmap.org/replication/day/

SOURCE = https://osm-internal.download.geofabrik.de/north-america/us/arizona-updates/

# DIRECTORY: This is the root or parent directory for the program working directory; where
# program files are kept. Program creates its own working directory with the name 'getdiff'
# by default this is placed in the user HOME directory.
# This {root} directory MUST exist with read, write and execute permissions.
# Path can NOT end with 'getdiff' entry.

DIRECTORY = /home/wael/Downloads/internal/

# BEGIN: This is the sequence number from the 'nnn.state.txt' file to start download from.

# Area data file has a corresponding 'state.txt' found in the same directory in geofabrik
# servers, this 'state.txt' file has the time the file was created in the 'timestamp' line.

# Change files are named with three digit numbers and have a corresponding 'state.txt'
# file - the three digits in the file name match the last three digits from the sequence
# number. The change file to start download from is the one created JUST AFTER your area
# data file was created; for daily change files this will be the next day from day your area
# data file was created. Sequence numbers have 4 to 9 digits.

# sequence number
BEGIN = 3693

# To turn verbose on use: TRUE, ON or 1. Case ignored for TRUE and ON.
VERBOSE = True

# NEWER_FILE:
# New downloaded files are added to file "newerFiles.txt" in program working directory.
# This file is expected to be emptied by update script.
# You may turn this off by using "None or off" ; case ignored here.

# NEWER_FILE = NONE
